<form {{action register model on="submit"}}>
  {{input type="text" placeholder="Username" value=model.username}}
  {{input type="text" placeholder="Email" value=model.email}}
  {{input type="password" placeholder="Password" value=model.password}}
  <button>Register</button>
</form>
